---
layout: default
title: Перечень справочников и статей сайта
description: "Эта страница содержит список всех справочников и публикаций сайта и 
может использоваться как навигатор."
order: 2
math: false
view: "nav"
published: true
sitemap: true
---
<p>Пришли из видео? Нажмите в навигаторе снизу на тему, которую только что смотрели и 
прокрутите страницу до раздела разбора решений, чтобы открыть разбор задачи из видео.</p>
<p>О том, как достичь того, чтобы ваш ребенок мог решать задачи без помощи репетитора, 
вы узнаете из нашего протокола 
<a href="/assets/intelligence_guide.pdf" target="_blank">"Интеллектуальный фундамент"</a>. 
Если понравился протокол, нажмите на кнопку ниже и поделитесь им с друзьями или знакомыми, 
которым он также может быть полезен.</p>
<button type="button" onclick="window.open(
'https://wa.me/?text=Приучите%20своего%20ребенка%20к%20учебе%20без%20репетитора%20https://quanta-science.github.io/assets/intelligence_guide.pdf', 
'_blank', 'noopener,noreferrer')">Поделиться протоколом ↗</button>
{% assign nav_collections = site.collections | where: "nav", true | sort: "nav_order" %}
{% for col in nav_collections %}
    {% assign dict_name = col.label %}
    {% assign docs = site[dict_name] %}

    {% if docs.size > 0 %}
        {% assign sorted_pages = docs | sort: "order" %}

        <details open>
        <summary role="button">{{ col.meta_label }}</summary>

        <ul>
            {% for item in sorted_pages %}
            <li>
                <a href="{{ item.url | relative_url }}">
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        </details>

    {% endif %}
{% endfor %}