---
layout: default
title: Перечень справочников и статей сайта
description: "Эта страница содержит список всех справочников и публикаций сайта и 
может использоваться как навигатор."
order: 2
math: false
view: "nav"
published: true
sitemap: true
---
<p>Пришли из видео? Нажмите на тему, которую только что смотрели и прокрутите 
страницу до раздела разбора решений, чтобы открыть разбор вашей задачи.</p>
{% assign nav_collections = site.collections | where: "nav", true | sort: "nav_order" %}
{% for col in nav_collections %}
    {% assign dict_name = col.label %}
    {% assign docs = site[dict_name] %}

    {% if docs.size > 0 %}
        {% assign sorted_pages = docs | sort: "order" %}

        <details open>
        <summary role="button">{{ col.meta_label }}</summary>

        <ul>
            {% for item in sorted_pages %}
            <li>
                <a href="{{ item.url | relative_url }}">
                {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        </details>

    {% endif %}
{% endfor %}