<!-- SIDEBAR -->
<aside>
    <nav>
        <ul>
            {% assign current_dir = page.path | split: "/" | slice: 0, 2 | join: "/" %}
            {% for p in site.pages %}
                {% if p.path contains current_dir %}
                    <li>
                        <a href="{{ p.url }}"
                            {% if p.url == page.url %}aria-current="page"{% endif %}>
                            {{ p.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</aside>