<header>
    <nav>
        <ul>
            <li>
                <img
                    src="{{ '/assets/img/logo.svg' | relative_url }}"
                    class="logo"
                    alt="Quanta Science репетитор по физике и математике"
                >
            </li>
            <li>
                <h1>Quanta Science</h1>
                <kbd>онлайн</kbd> <kbd>репетитор</kbd>
            </li>
        </ul>
    </nav>
    {% case page.view %}
        {% when "topic" %}
            {% include for_header_topic.html %}
        {% when "nav" %}
            {% include for_header_nav.html %}
        {% when "home" %}
            {% include for_header_home.html %}
    {% endcase %}
</header>
