<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
    <link rel="canonical" href="{{ page.canonical | default: page.url | absolute_url }}">
    <link rel="alternate" hreflang="{{ page.lang | default: 'ru' }}" href="{{ page.url | absolute_url }}">
    <link rel="alternate" hreflang="x-default" href="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{{ page.og_title | default: page.title }}">
    <meta property="og:description" content="{{ page.og_description | default: page.description }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    {% case page.view %}
        {% when "home" %}
            <meta property="og:image" content="{{ '/assets/img/preview.png' | relative_url }}">
        {% when "nav", "topic" %}
            <meta property="og:image" content="{{ '/assets/img/og-preview.png' | relative_url }}">
    {% endcase %}
    <meta property="og:type" content="website">
    <link rel="icon" href="{{ '/assets/img/logo.svg' | relative_url }}" type="image/svg+xml"/>
    <link rel="stylesheet" href="{{ '/assets/css/pico.classless.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- скрипты!!! -->
    {% if page.math %}
        {% include mathjax.html %}
    {% endif %}
    {% case page.view %}
        {% when "topic" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.3/src/lite-yt-embed.min.css">
<script src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.3/src/lite-yt-embed.min.js"></script>
            {% include schema.html %}
        {% when "nav" %}
            {% include schema.html %}
        {% when "home" %}
            <script src="/assets/js/home.js"></script>
            {% include schema_home.html %}
    {% endcase %}
    {% include analytics.html %}
</head>