<header>
    <div class="head-logo">
        <ul>
            <li>
                <img src="{{ '/assets/img/logo.svg' | relative_url }}"
                class="logo" alt="Quanta Science репетитор по физике и математике">
            </li>
            <li>
                <div id="organization"><kbd>Quanta</kbd><kbd>Science</kbd></div>
            </li>
        </ul>
    </div>
    <div class="head-logo">
        <ul>
            <li>
                <h1>Онлайн-репетитор по математике, физике и химии</h1>
            </li>
        </ul>
    </div>
    <div class="head-logo">
        <ul>
            <li>
                <div class="gcse-search"></div>
            </li>
        </ul>
    </div>
    {% case page.view %}
        {% when "topic" %}
            {% include for_header_topic.html %}
        {% when "nav" %}
            {% include for_header_nav.html %}
        {% when "home" %}
            {% include for_header_home.html %}
    {% endcase %}
</header>
