<main>
    {% case page.view %}
        {% when "topic" %}
            <article>
                <header>
                    {% if page.description %}
                        <p>{{ page.description }}</p>
                    {% endif %}
                </header>
                    {{ content }}
                    <hr>
                    {% include quiz.html %}
                <footer>
                    <p>Обновлено: {{ page.last_modified_at | date: "%d.%m.%Y" }}</p>
                    {% include prevnext.html %}
                </footer>
            </article>
            {% include cta.html %}
        {% when "nav" %}
            <article>
                <header>
                    {% if page.description %}
                        <p>{{ page.description }}</p>
                    {% endif %}
                </header>
                {{ content }}
                <footer>
                    {% include prevnext.html %}
                </footer>
            </article>
            {% include cta.html %}
        {% when "home" %}
            {{ content }}
    {% endcase %}
</main>