{% assign docs = site[page.collection] | sort: "order" %}

{% for doc in docs %}
    {% if doc.path == page.path %}
        {% assign i = forloop.index0 %}
        
        {% if i > 0 %}
            {% assign prev = docs[i | minus: 1] %}
        {% endif %}
        
        {% if i < docs.size | minus: 1 %}
            {% assign next = docs[i | plus: 1] %}
        {% endif %}
        
        {% break %}
    {% endif %}
{% endfor %}


    <nav>
        <ul>
            <li>ghbdtn
                {% if prev %}
                    <a href="{{ prev.url | relative_url }}">&larr; Назад: {{ prev.title }}</a>
                {% endif %}
            </li>
            <li>qwas
                {% if next %}
                    <a href="{{ next.url | relative_url }}">Вперед: {{ next.title }} &rarr;</a>
                {% endif %}
            </li>
        </ul>
    </nav>
