{% if page.quizzes %}
<section class="quiz-container" id="quiz-section">
    <h2>Вопросы для самопроверки. {{ page.quizzes.name }}</h2>
    {% for quiz in page.quizzes.items %}
        <div class="quiz-item" data-quiz-index="{{ forloop.index }}">
            <div class="quiz-question">
                {{ quiz.question_text }}
                <strong>Вопрос {{ forloop.index }}.</strong> {{ quiz.question_text }}
            </div>
            <div class="quiz-options">
                {% for option in quiz.options %}
                    <label class="option-label">
                        <input type="checkbox" class="quiz-check"
                        data-correct="{{ option.is_correct }}">
                        <span>{{ option.text }}</span>
                    </label>
                {% endfor %}
            </div>
            <button type="button" class="quiz-submit-btn" onclick="checkQuiz(this)">
            Ответить
            </button>
            {% if quiz.video_id %}
            <details class="quiz-solution" style="display: none;">
                <summary role="button">Посмотреть разбор решения</summary>
                <div class="video-wrapper">
                    <lite-youtube videoid="{{ quiz.video_id }}" 
                    playlabel="Смотреть решение"></lite-youtube>
                </div>
            </details>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endif %}