<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@graph": [
            {
                "@type": ["ProfessionalService", "EducationalOrganization"],
                "@id": "https://quanta-science.github.io",
                "name": "Quanta Science",
                "description": "Индивидуальная система тренингов по математике, физике и химии для учеников из стран СНГ от специалиста с ученой степенью. Глубокая подготовка к ЕГЭ, ЕНТ, ЦТ, НИШ и международным программам (IB, A-Level). Ликвидация пробелов и развитие когнитивной автономности онлайн.",
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Aktobe",
                    "addressCountry": "KZ"
                },
                "location": {
                    "@type": "VirtualLocation",
                    "url": "https://quanta-science.github.io"
                },
                "areaServed": ["KZ", "RU", "BY", "UZ", "KG", "AZ"],
                "subjectOf": { "@id": "https://quanta-science.github.io/#faq" },
                "hasOfferCatalog": {
                    "@type": "OfferCatalog",
                    "name": "Образовательные услуги",
                    "itemListElement": [
                    {
                        "@type": "Offer",
                        "itemOffered": {
                        "@type": "Service",
                        "name": "Индивидуальный тренинг по математике"
                        }
                    },
                    {
                        "@type": "Offer",
                        "itemOffered": {
                        "@type": "Service",
                        "name": "Индивидуальный тренинг по физике"
                        }
                    },
                    {
                        "@type": "Offer",
                        "itemOffered": {
                        "@type": "Service",
                        "name": "Индивидуальный тренинг по химии"
                        }
                    }
                    ]
                },
                "telephone": "+77071011937",
                "priceRange": "$$",
                "image": "https://quanta-science.github.io/preview.png"
            },
            {
                "@type": "FAQPage",
                "@id": "https://quanta-science.github.io/#faq",
                "mainEntity": [
                    {
                        "@type": "Question",
                        "name": "Как проходят занятия?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Занятия проходят в виде индивидуальных тренингов. Их суть состоит в тренировке решения задач по всему объему соответствующего курса. Теоретический материал подогнан под решения задач. Тренинги проводятся онлайн с использованием таких приложений, как Zoom, Telegram или Teams. В зависимости от потребностей ученика и/или ограничений, действующих в государстве проживания ученика, может быть рассмотрена возможность использования других приложений для проведения онлайн тренингов."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "Как составляются расписания?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Расписания согласовываются исходя из объема тренингов, который обычно составляет 2 часа в неделю. Каждый час составляет 60 минут. В зависимости от потребностей ученика можно рассмотреть индивидуальный объем тренингов."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "С какого класса принимаются ученики?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Принимаем на тренинги учеников школ, начиная с 6 (шестого) класса. На тренинги могут записаться также студенты и инженерные работники, которые хотели бы освежить знания по соответствующим дисциплинам."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "Какова стоимость услуг?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Стоимость услуг формируется из расчета стоимости одного часа. Стоимость также может меняться каждый год. Для получения точной информации пишите на <a href='https://wa.me/77071011937'>WhatsApp</a>. Стоимость услуг может корректироваться, однако остается неизменной на весь срок предоплаты, предусмотренной договором."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "Как провести оплату?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "По условиям договора предусмотрена предоплата за оказание услуг тренинга. Оплата осуществляется внесением средств на расчетный счет ИП Quanta Science через мобильное приложение, терминалы или отделения банка."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "Как подписывается договор?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Услуги тренинга по математике, физике и химии оказываются на основании договора. Договор подписывается посредством электронно-цифровой подписи на таких платформах, как https://ezsigner.kz, https://documentolog.com и других подобных."
                        }
                    },
                    {
                        "@type": "Question",
                        "name": "Как узнать о качестве ваших услуг?",
                        "acceptedAnswer": {
                            "@type": "Answer",
                            "text": "Вы можете записаться на диагностический урок и оценить качество работы на практике до принятия решения об обучении."
                        }
                    }
                ]
            }
        ]
    }
</script>