<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ page.title }}",
        "description": "{{ page.description }}",
        "author": {
            "@type": "Organization",
            "name": "Quanta Science",
            "url": "https://quanta-science.github.io"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Quanta Science",
            "logo": {
                "@type": "ImageObject",
                "url": "https://quanta-science.ru/logo.png"
            }
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://quanta-science.ru/physics/ohm-law"
        },
        "image": "https://quanta-science.ru/images/physics-preview.jpg",
        "datePublished": "2024-05-06T08:00:00+05:00"
    }
</script>