<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ page.title }}",
        "description": "{{ page.description }}",
        "datePublished": "{{ page.date }}",
        "dateModified": "{{ page.last_modified_at }}",
        "author": {
            "@type": "Organization",
            "@id": "{{ site.url }}",
            "name": "Quanta Science"
        },
        "creator": {
            "@id": "{{ '/#murat' | relative_url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Quanta Science",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ '/assets/img/logo.svg' | relative_url }}",
                "width": "500", 
                "height": "500"
            }
        },
        "reviewedBy": [
            {
                "@type": "Person",
                "@id": "{{ '/#murat' | relative_url }}",
                "name": "Murat Aliyev"
            },
            {
                "@type": "Person",
                "@id": "{{ '/#ayat' | relative_url }}",
                "name": "Ayat Kairakbaev"
            }
        ],
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url }}"
        },
        "image": "{{ '/assets/img/og-preview.png' | relative_url }}",
        "learningResourceType": "Reference Material",
        "educationalLevel": "Secondary School"
    }
</script>
<!--Quiz, BreadcrumbList -->
<!--Чтобы поисковик «запомнил» бренд, создайте отдельную страницу «Об организации» 
(About) и разместите там JSON-LD с типом EducationalOrganization. 
В статьях же делайте ссылку на эту организацию через @id-->